.button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  border: none;
  margin-top: 2rem;
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  width: 7rem;
  z-index: 1;
  opacity: 0;
}

.button:active {
  transform: translateY(2px);
}

.button::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  left: 50%;
  top: 50%;
  opacity: 1;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: 0.8s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  animation: ripple 1s ease-out forwards;
}

@keyframes ripple {
  0% {
    border: 0px solid rgba(255, 255, 255, 0.7);
    transform: translate(-50%, -50%) scale(0.2);
  }
  100% {
    border: 20rem solid rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%) scale(1);
  }
}
