.container {
    width: 100%;
    height: 100%;
    min-height: 40rem;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.container h1,
.container h2 {
    width: 100%;
    height: auto;
    font-size: 4rem;
    font-weight: 500;
    font-family: "Quicksand", sans-serif ;
    text-align: center;
    margin: 1.5rem 0;
}

.container h2 {
    font-size: 1.8rem;
    font-weight: 200;
}

.projectContainer {
    width: 90%;
    height: auto;
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.projectContainer a {
    text-decoration: none;
    color: inherit;
}

.project {
    width: 100%;
    height: 100%;
    max-width: 20rem;
    background-color: white;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 1rem;
}

.projectImage {
    width: 100%;
    height: auto;
}

.projectImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectTech {
    width: 100%;
    padding: 0.6rem 2rem;
    height: auto;
    box-sizing: border-box;
    font-size:  1rem;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 767px) {
    .project {
        width: 48%;
        max-width: none;
    }
}

@media screen and (min-width: 1000px) {
    .project {
        width: 30%;
    }
}